## 보스턴 집값 예측
- github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

### 1. 데이터 준비

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [3]:
file_path = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
boston = pd.read_csv(file_path)
print(boston.columns)
boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [5]:
independent_variable = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat',]]
dependent_variable = boston[['medv']]
print(independent_variable.shape, dependent_variable.shape)

(506, 13) (506, 1)

### 2. 모델의 구조 생성

In [8]:
x = tf.keras.layers.Input(shape=[13])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x,y)
model.compile(loss='mse')

### 3. 데이터로 모델을 학습(Fit)

In [11]:
model.fit(independent_variable, dependent_variable, epochs = 1000, verbose=0)
model.fit(independent_variable, dependent_variable, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1057
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1458
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.9159
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 26.6782
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 26.6484
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0271
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 26.2144
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0283
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 26.0567
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7186

### 4. 모델을 이용

In [12]:
model.predict(independent_variable[0:5])

array([[28.385986],
       [23.763302],
       [29.527447],
       [28.831848],
       [28.203594]], dtype=float32)

In [14]:
dependent_variable[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [15]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08569883],
        [ 0.07053489],
        [-0.05512641],
        [ 3.3511562 ],
        [ 1.5966291 ],
        [ 4.0774097 ],
        [ 0.0128498 ],
        [-0.89091045],
        [ 0.15022855],
        [-0.01073624],
        [-0.0336632 ],
        [ 0.01463408],
        [-0.5748119 ]], dtype=float32), array([2.9793444], dtype=float32)]